@mixin alinhamento-centralizado ($direcao, $quebra) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direcao;
    flex-wrap: $quebra;
}

@mixin campo {
    border: none;
    border-bottom: 1px solid $text-color2;
    outline: none;
    background-color: transparent;
}

@mixin btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: $text-color2;
    font-size: 1em;;
    cursor: pointer;
}

/* @mixin checkbox {
    width: 1em;
    height: 1em;
    border: 1px solid $text-color2;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
} */

@mixin addMargem ($margem, $margem2) {
    margin-top: $margem;
    margin-bottom: $margem2;
}
