@import 'variaveis';
@import 'mixins';
/* @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); */
@font-face {
    font-family: 'Blacklisted';
    src: url(../fonts/Blacklisted.ttf);
}
@font-face {
    font-family: 'Aviola Memories Demo';
    src: url(../fonts/AviolaMemoriesDemo.otf);
}


body {
    background-color: $background-color;
    @include alinhamento-centralizado(column, wrap);
    height: 80%;


    .cabecalho {
        @include alinhamento-centralizado(column, wrap);
    
        .cabecalho__titulo {
            color: $text-color;
            font-size: 2.5em;
            /* font-family: 'Archivo Black', sans-serif; */
            font-family: 'Blacklisted', sans-serif;
            @include addMargem(1em, 0.5em);
        }
        .cabecalho__forms {
            @include alinhamento-centralizado(row, nowrap);
            @include addMargem(0em, 2em);
            .cabecalho__forms__campo {
                @include campo;
            }
            .cabecalho__forms__botao {
                @include btn;
            }
        }
    }

    .tarefas { 
        @include alinhamento-centralizado(column, wrap);
        width: 80%;

        .tarefas__tarefa {
            @include alinhamento-centralizado(row, nowrap);
            width: 70%;
            justify-content: center;

            /* .tarefas__tarefa__checkbox {
               @include checkbox;
            } */
            .tarefas__tarefa__texto {
                color: $text-color2;
                font-size: 2.0em;
                font-family: 'Aviola Memories Demo', sans-serif;
                align-self: flex-start;
                cursor: pointer;

            }
            .tarefas__tarefa__acao {
                @include alinhamento-centralizado(row, nowrap);
                margin-left: 1em;
                
                .tarefas__tarefa__acao__excluir {
                    @include btn;
                }
                .tarefas__tarefa__acao__editar {
                    @include btn;
                }
            }
        }
    }
}
